<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Rental Management System</title>
    <link rel="stylesheet" href="/styles.css" type="text/css" />
  </head>
  <body>
    <!--  DateTime.now.strftime("%d/%m/%Y %H:%M") -->
    <%= yield %>
  </body>
</html>
