<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CRuMbS: Costume Rental Management System</title>
    <link rel="stylesheet" href="/styles.css" type="text/css" />
  </head>
  <body>
    <div class="container" id="top">
      <div class="top-row">
        <div class="info-box">
        <%= DateTime.now.strftime("%d/%m/%Y %H:%M") %>
          <br />
          <% if request.path_info == '/crms' %>
            <form method="post" action = "/crms/main">
              <label for = "password">Login: </label>
              <input class="textfield" type = "password" id="password" name="password" size="15" />
              <input type="submit" class="button" value="Main Menu" />
            </form>
            <% else %>
              <form method="get" action = "/crms">
                <input type="submit" class="greybutton" value="Log Out" />
              </form>
            <% end %>


        </div>
        <div class="top-left">
        <div class="top-heading">
        <h1>CRuMbS: Costume Rental Management System</h1>
        </div>
      </div>
      <nav>
        <% if request.path_info != '/crms' %>
      <ul id="navbar">
        <li><a href="/crms/stock">Stock</a> </li>
        <li><a href="/crms/customers">Customers</a></li>
        <li><a href="/crms/rentals">Rentals</a></li>
      </ul>
      <% end %>
      </nav>
      </div>

<div class="main">
    <%= yield %>
  </div> <!-- end main -->
  </div> <!-- end container -->
  </body>
</html>
