<h2><img src="/graphics/gold-star-50.jpg" alt="gold star" style="margin-right: 1em;" />Main Menu<img style="margin-left: 1em;" src="/graphics/gold-star-50.jpg" alt="gold star" /></h2>

<ul class="menu">
  <li><a href="/crms/stock_items/costume_search">Search Costumes</a></li>
  <li><a href="/crms/rentals/current_rentals_list">List Current Rentals</a></li>
  <li><a href="/crms/customers/customers_new">Add New Customer</li>
    <li><a href="/crms/stock_items/stock_new">Add New Stock</li>

</ul>
