<h2><img src="/graphics/gold-star-50.jpg" alt="gold star" style="margin-right: 1em;" />Rentals Menu<img style="margin-left: 1em;" src="/graphics/gold-star-50.jpg" alt="gold star" /></h2>

<%=p @msg if @msg != nil %>
<br />
<ul class="menu">
<li><a href="/crms/rentals/current_rentals_list">List Current Rentals</a></li>
</ul>
