<h2>Stock Menu</h2>

<ul>
<li><a href="/crms/stock_items/list_all_stock">Complete Stock List</a></li>
<li><a href="/crms/stock_items/costume_search">Search Costumes</a></li>
<li></li>
<li></li>
<li></li>
<li></li>

</ul>
