<h2><img src="/graphics/gold-star-50.jpg" alt="gold star" style="margin-right: 1em;" />Stock Menu<img style="margin-left: 1em;" src="/graphics/gold-star-50.jpg" alt="gold star" /></h2>

<ul class="menu">
<li><a href="/crms/stock_items/list_all_stock">Complete Stock List</a></li>
<li><a href="/crms/stock_items/costume_search">Search Costumes</a></li>


</ul>
<!-- <div class="stock-menu-hero">
&nbsp;
</div> -->
