code {font-family: courier;
font-size: 1.2em;}
.syntax0 {
color: #000000;
}
.syntax1 {
color: #009900;
font-style: italic;
}
.syntax2 {
color: #cccccc;
font-style: italic;
}
.syntax3 {
color: #6600cc;
}
.syntax4 {
color: #cc6600;
}
.syntax5 {
color: #009191;
}
.syntax6 {
color: #000099;
}
.syntax7 {
color: #ff0000;
font-weight: bold;
}
.syntax8 {
color: #0000ba;
}
.syntax9 {
color: #990000;
font-weight: bold;
}
.syntax10 {
color: #0b5174;
font-weight: bold;
}
.syntax11 {
color: #006699;
font-weight: bold;
}
.syntax12 {
color: #990033;
font-weight: bold;
font-style: italic;
}
.syntax13 {
color: #ee0009;
font-style: italic;
}
.syntax14 {
color: #ff6666;
}
.syntax15 {
color: #9900cc;
}
.syntax16 {
color: #6600cc;
}
.syntax17 {
color: #990033;
}
.syntax18 {
color: #000000;
font-weight: bold;
}
.syntax-NULL {
  color: #000000;
}


.syntax-NULL {
  color: #000000;
}
.syntax-COMMENT1 {
  color: #009900;
  font-style: italic;
  font-size: x-small
}
.syntax-COMMENT2 {
  color: #cccccc;
  font-style: italic;
}
.syntax-COMMENT3 {
  color: #3a6a60;
}
.syntax-COMMENT4 {
  color: #3a6a60;
}
.syntax-DIGIT {
  color: #009191;
}
.syntax-FUNCTION {
  color: #000099;
}
.syntax-INVALID {
  color: #ff0000;
  font-weight: bold;
}
.syntax-KEYWORD1 {
  color: #0000ba;
}
.syntax-KEYWORD2 {
  color: #990000;
  font-weight: bold;
}
.syntax-KEYWORD3 {
  color: #0b5174;
  font-weight: bold;
}
.syntax-KEYWORD4 {
  color: #8b677f;
  font-weight: bold;
}
.syntax-LABEL {
  color: #990033;
  font-weight: bold;
  font-style: italic;
}
.syntax-LITERAL1 {
  color: #ee0009;
  font-style: italic;
}
.syntax-LITERAL2 {
  color: #ff6666;
}
.syntax-LITERAL3 {
  color: #af5992;
}
.syntax-LITERAL4 {
  color: #000000;
}
.syntax-MARKUP {
  color: #990033;
}
.syntax-OPERATOR {
  color: #000000;
  font-weight: bold;
}

